$dark-blue: #12326b;
$light-blue-text: #1284da;
$blue-header-btn: #0091ff;
$grey-section-bg: #ecf0f2;
$blue-header-qr: #2566a8;
$grey-text-why: #7f7f7f;
$green-link: #68b641;
$orange-border-statistic: #ffa500;
$gray-table: #f8f8f8;
$gray-footer-text: #9196aa;
