body {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: $grey-section-bg;
  //@include container();
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

.visually-hidden {
  display: none;
}
